

<div class="container">
    <div class="row justify-content-md-center mt-3">
        <div class="col-6">
            <p class="title">프로젝트 등록</p>
            <%= stylesheet_link_tag "project_create" %>
            <%= form_tag '/project/create_3' do %>

                <div class="row">
                <div class="form-group col">
                    <label for="exampleFormControlInput1">제목</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="title" placeholder="제목을 입력해주세요">
                </div>
                </div>

                <div class="row">
                <div class="form-group col-6">
                    <label for="pickdate">모집 마감 날짜</label>
                    <input type="text" id="pickdate" class='datepicker form-control' name="end_date">
                    
                    <script type="text/javascript">
                    $(document).ready(function(){
                        $('.datepicker').datepicker();
                    });
                    </script>
                </div>
                </div>

                <div class="row">
                <div class="form-group col">
                    <label for="exampleFormControlTextarea1">필요 기능</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="contents" rows="10"></textarea>
                </div>
                </div>

                <div class="row">
                <div class="form-group col">
                    <label for="exampleFormControlTextarea2">필요기술 및 언어</label>
                    <textarea class="form-control" id="exampleFormControlTextarea2" name="tool" rows="1"></textarea>
                </div>
                </div>

            <button type="submit">다음 단계</button>
            <% end %> 
        </div>
    </div>
</div>