<div class="container">
<div class="row justify-content-md-center mt-3">
<div class="col-6">
    <p class="title">프로젝트 등록</p>
    <%= stylesheet_link_tag "project_create" %>
    <%= javascript_tag "project_create" %>

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-categroy-tab" data-toggle="pill" href="#pills-category" role="tab" aria-controls="pills-category" aria-selected="true">분야선택</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
    </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-category" role="tabpanel" aria-labelledby="pills-category-tab">
                <div class="row ml-4">
                        <div class="nav flex-column nav-pills col-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
                            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
                            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
                        </div>
                        <div class="tab-content ml-4" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                             <% @small_category = ["웹","모바일웹","어플리케이션"] %>
                            
                            
                                                <div class="row ml-3 mt-2">
                                                    <% @small_category.each do |category| %>
                                                    <div class="form-check mr-3 ml-3">
                                                        <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <%=category%>                   
                                                        </label>
                                                    </div>  
                                                    <% end %> 
                                                </div>    
                            </div>
                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                            <% @small_category = ["1","2","3"] %>
                            
                            
                                                <div class="row ml-3 mt-2">
                                                    <% @small_category.each do |category| %>
                                                    <div class="form-check mr-3 ml-3">
                                                        <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <%=category%>                   
                                                        </label>
                                                    </div>  
                                                    <% end %> 
                                                </div>    
                            </div>
                            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                        </div>
                </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
    </div>

</div>
</div>
</div>




